<app-navbar></app-navbar>
<section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center mb-4 pb-2">
            <h4 class="title">New &amp; Random Jobs</h4>
            <p class="text-muted mb-1">
              Post a job to tell us about your project. We'll quickly match
              you with the right freelancers.
            </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <!--end row-->
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="recent-jobs"
              role="tabpanel"
              aria-labelledby="recent-jobs-tab"
            >
              <div class="job-box card mt-4" *ngFor="let jobList of filteredJobLists">
                <div class="bookmark-label text-center">
                  <a
                    
                    class="text-white align-middle"
                    ><i class="mdi mdi-star"></i
                  ></a>
                </div>
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="company-details.html"
                          ><img
                            src="https://main.dll6omdmjfwlk.amplifyapp.com/assets/images/featured-job/img-01.png"
                            alt=""
                            class="img-fluid rounded-3"
                        /></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1">
                          <a href="job-details.html" class="text-dark"
                            >{{jobList.domainName}}</a
                          >
                        </h5>
                        <p class="text-muted fs-14 mb-0">
                            {{jobList.companyName}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i
                            class="mdi mdi-map-marker text-primary me-1"
                          ></i>
                        </div>
                        <p class="text-muted mb-0">
                          {{jobList.location}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-2">
                      <div>
                        <p class="text-muted mb-2">
                          <span class="text-primary">$</span>{{jobList.salary}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p class="text-muted mb-0">
                          <span class="text-dark">Experience :</span>
                          {{jobList.experience}} years
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 col-md-5">
                      <div>
                        <p class="text-muted mb-0">
                          <span class="text-dark">Skills: </span>
                          {{jobList.skills}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <a
                          (click)="applyNowBtnClick(jobList)"
                          data-bs-toggle="modal"
                          class="primary-link"
                          >Apply Now
                          <i class="mdi mdi-chevron-double-right"></i
                        ></a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <!--end job-box-->
            </div>
            <!--end recent-jobs-tab-->
            <!--end full-time-tab-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <section class="bg-subscribe">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6">
          <div class="text-center text-lg-start">
            <h4 class="text-white">Get New Jobs Notification!</h4>
            <p class="text-white-50 mb-0">
              Subscribe &amp; get all related jobs notification.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt-4 mt-lg-0">
            <form class="subscribe-form" action="#">
              <div
                class="
                  input-group
                  justify-content-center justify-content-lg-end
                "
              >
                <input
                  type="text"
                  class="form-control"
                  id="subscribe"
                  placeholder="Enter your email"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="subscribebtn"
                >
                  Subscribe
                </button>
              </div>
            </form>
            <!--end form-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
    <div class="email-img d-none d-lg-block">
      <img src="https://main.dll6omdmjfwlk.amplifyapp.com/assets/images/subscribe.png" alt="" class="img-fluid" />
    </div>
  </section>
  <!-- END SUBSCRIBE -->
  <!-- START FOOTER -->
  <section class="bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-item mt-4 mt-lg-0 me-lg-5">
            <h4 class="text-white mb-4">Job Portal</h4>
            <p class="text-white-50">
              It is a long established fact that a reader will be of a page
              reader will be of at its layout.
            </p>
            <p class="text-white mt-3">Follow Us on:</p>
            <ul class="footer-social-menu list-inline mb-0">
              <li class="list-inline-item">
                <a href="index.html#"><i class="uil uil-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="index.html#"><i class="uil uil-linkedin-alt"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="index.html#"><i class="uil uil-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="index.html#"><i class="uil uil-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2 col-6">
          <div class="footer-item mt-4 mt-lg-0">
            <p class="fs-16 text-white mb-4">Company</p>
            <ul class="list-unstyled footer-list mb-0">
              <li>
                <a href="about.html"
                  ><i class="mdi mdi-chevron-right"></i> About Us</a
                >
              </li>
              <li>
                <a href="contact.html"
                  ><i class="mdi mdi-chevron-right"></i> Contact Us</a
                >
              </li>
              <li>
                <a href="services.html"
                  ><i class="mdi mdi-chevron-right"></i> Services</a
                >
              </li>
              <li>
                <a href="blog.html"
                  ><i class="mdi mdi-chevron-right"></i> Blog</a
                >
              </li>
              <li>
                <a href="team.html"
                  ><i class="mdi mdi-chevron-right"></i> Team</a
                >
              </li>
              <li>
                <a href="pricing.html"
                  ><i class="mdi mdi-chevron-right"></i> Pricing</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2 col-6">
          <div class="footer-item mt-4 mt-lg-0">
            <p class="fs-16 text-white mb-4">For Jobs</p>
            <ul class="list-unstyled footer-list mb-0">
              <li>
                <a href="job-categories.html"
                  ><i class="mdi mdi-chevron-right"></i> Browser Categories</a
                >
              </li>
              <li>
                <a href="job-list.html"
                  ><i class="mdi mdi-chevron-right"></i> Browser Jobs</a
                >
              </li>
              <li>
                <a href="job-details.html"
                  ><i class="mdi mdi-chevron-right"></i> Job Details</a
                >
              </li>
              <li>
                <a href="bookmark-jobs.html"
                  ><i class="mdi mdi-chevron-right"></i> Bookmark Jobs</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2 col-6">
          <div class="footer-item mt-4 mt-lg-0">
            <p class="text-white fs-16 mb-4">For Candidates</p>
            <ul class="list-unstyled footer-list mb-0">
              <li>
                <a href="candidate-list.html"
                  ><i class="mdi mdi-chevron-right"></i> Candidate List</a
                >
              </li>
              <li>
                <a href="candidate-grid.html"
                  ><i class="mdi mdi-chevron-right"></i> Candidate Grid</a
                >
              </li>
              <li>
                <a href="candidate-details.html"
                  ><i class="mdi mdi-chevron-right"></i> Candidate Details</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-2 col-6">
          <div class="footer-item mt-4 mt-lg-0">
            <p class="fs-16 text-white mb-4">Support</p>
            <ul class="list-unstyled footer-list mb-0">
              <li>
                <a href="contact.html"
                  ><i class="mdi mdi-chevron-right"></i> Help Center</a
                >
              </li>
              <li>
                <a href="faqs.html"
                  ><i class="mdi mdi-chevron-right"></i> FAQ'S</a
                >
              </li>
              <li>
                <a href="privacy-policy.html"
                  ><i class="mdi mdi-chevron-right"></i> Privacy Policy</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- END FOOTER -->
  <!-- START FOOTER-ALT -->
  <div class="footer-alt">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-white-50 text-center mb-0">
            <script>
              document.write(new Date().getFullYear())
            </script>
            2022 © Job Portal - Job Listing Page Template by
            <a
              href="https://themeforest.net/search/themesdesign"
              target="_blank"
              class="text-reset text-decoration-underline"
              >Themesdesign</a
            >
          </p>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!-- END FOOTER -->
  <!-- Style switcher -->
  <div id="style-switcher" onclick="toggleSwitcher()" style="left: -165px;">
    <div>
      <h6>Select your color</h6>
      <ul class="pattern list-unstyled mb-0">
        <li>
          <a
            class="color-list color1"
            
            onclick="setColorGreen()"
          ></a>
        </li>
        <li>
          <a
            class="color-list color2"
            
            onclick="setColor('blue')"
          ></a>
        </li>
        <li>
          <a
            class="color-list color3"
            
            onclick="setColor('green')"
          ></a>
        </li>
      </ul>
      <div class="mt-3">
        <h6>Light/dark Layout</h6>
        <div class="text-center mt-3">
          <!-- light-dark mode -->
          <a
            
            id="mode"
            class="mode-btn text-white rounded-3"
          >
            <i class="uil uil-brightness mode-dark mx-auto"></i>
            <i class="uil uil-moon mode-light"></i>
          </a>
          <!-- END light-dark Mode -->
        </div>
      </div>
    </div>
    <div class="bottom d-none d-md-block">
      <a  class="settings rounded-end"
        ><i class="mdi mdi-cog mdi-spin"></i
      ></a>
    </div>
  </div>
  <!-- end switcher-->
  <!--start back-to-top-->
  <button onclick="topFunction()" id="back-to-top" style="display: none;">
    <i class="mdi mdi-arrow-up"></i>
  </button>
